<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Ecommer-Shop</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
            <button onclick="openMenu()"> &#9776; </button>
          <button > </button>
          <a href="index.html">Ecommer-Shop </a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">sign-in</a>
        </div>
      </header>
      <aside class="sidebar" id="sidebar">
        <h3>Shopping Categories</h3>
        <button class="sidebar-closeBtn" onclick="closeMenu()"> X </button>
        <ul>
          <li><a href="">category 1</a></li>
          <li><a href="">category 2</a></li>
          <li><a href="">category 3</a></li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="imagies/demoimg.jpg"
                  alt="product-img"
                />
                <div class="product-name"><a href="product.html">Shirt</a></div>
                <div class="product-brand">nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Start 55 Review</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved</footer>
    </div>
    <script>
      function openMenu() {
        document.getElementById("sidebar").classList.add("open");
      }
      function closeMenu() {
        document.getElementById("sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
